extend admin_layout_login

block content 
  .row(id="admin_main")
    .col-3(id="admin_nav")
      nav.nav.flex-column
        a.nav-link.text-center(href="/admin") Overview
        a.nav-link.text-center(href="/admin/news/data") News Management
        a.nav-link.text-center(href="/admin/videos/data") Videos Management
        a.nav-link.text-center(href="/admin/pictures/data") Pictures Management
        a.nav-link.active.text-center(href="/admin/category/data") Categories Management
        a.nav-link.text-center(href="/admin/tag/data") Tags Management
        a.nav-link.text-center(href="/admin/spider/data") Crawler Rules
    .col-9
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Admin
          li.breadcrumb-item.active Categories Management
      hr
      button.btn.btn-primary.mb-2(onclick="window.location.href='http://localhost:3000/admin/category/create'") Create New Category
      table.table
        thead.thead-dark
          tr
            th(scope="col") #
            th(scope="col") Category name
            th(scope="col") Actived
            th(scope="col") Level
            th(scope="col") Operation
        tbody
          each c, key in categories
            tr
              th(scope="row") #{key + 1}
              td #{c.name}
              td #{c.actived}
              td #{c.level}
              td
                a.btn.btn-sm.btn-warning.mr-2(href="http://localhost:3000/admin/category/" + c._id) edit
                a.btn.btn-sm.btn-danger(onclick="deleteCate('"+ c._id + "')") delete
          
      nav(aria-label='Page navigation example')
        ul.pagination.justify-content-end
          - var n = 1;
          while n <= maxPage
            li.page-item
              a.page-link(href='http://localhost:3000/admin/category/data/' + n) #{n++}
