extend admin_layout_login
block content
  .row(id="admin_main")
    .col-3(id="admin_nav")
      nav.nav.flex-column
        a.nav-link.active.text-center(href="") Overview
        a.nav-link.text-center(href="/admin/news/data") News Management
        a.nav-link.text-center(href="/admin/videos/data") Videos Management
        a.nav-link.text-center(href="/admin/pictures/data") Pictures Management
        a.nav-link.text-center(href="/admin/category/data") Categories Management
        a.nav-link.text-center(href="/admin/tag/data") Tags Management
        a.nav-link.text-center(href="/admin/spider/data") Crawler Rules
    .col-9
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Admin
          li.breadcrumb-item.active Overviews
      hr
      .row
        .col-sm-4
          .card.overview-card
            .card-body
              h5.card-title Total News
              p.card-text.h3 #{newsTotal}
        .col-sm-4.overview-card
          .card
            .card-body
              h5.card-title Total Videos
              p.card-text.h3 #{videosTotal}
        .col-sm-4.overview-card
          .card
            .card-body
              h5.card-title Total Pictures
              p.card-text.h3 #{picTotal}
        .col-sm-4.overview-card
          .card
            .card-body
              h5.card-title Today News
              p.card-text.h3 #{newsFilter}
        .col-sm-4.overview-card
          .card
            .card-body
              h5.card-title Today Videos
              p.card-text.h3 #{videosFilter}
        .col-sm-4.overview-card
          .card
            .card-body
              h5.card-title Today Pictures
              p.card-text.h3 #{picFilter}