extend admin_layout_login

block content
  #admin_main.row
    #admin_nav.col-3
      nav.nav.flex-column
        a.nav-link.text-center(href="/admin") Overview
        a.nav-link.active.text-center(href="/admin/news/data") News Management
        a.nav-link.text-center(href="/admin/videos/data") Videos Management
        a.nav-link.text-center(href="/admin/pictures/data") Pictures Management
        a.nav-link.text-center(href="/admin/category/data") Categories Management
        a.nav-link.text-center(href="/admin/tag/data") Tags Management
        a.nav-link.text-center(href="/admin/spider/data") Crawler Rules
        a.nav-link.text-center(href="/admin/feedback/data") Feedback
    .col-9
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Admin
          li.breadcrumb-item.active News Management
      hr
      button.btn.btn-primary.mb-2(onclick="window.location.href='http://localhost:3000/admin/news/create'") Create New News Data
      table.table
        thead.thead-dark
          tr
            th(scope='col') #
            th(scope='col') title
            th(scope='col') author
            th(scope='col') category
            th(scope='col') tags
            th(scope='col') publicTime
            th(scope='col') insertTime
            th(scope='col') Operation
        tbody
          each c, key in news
            tr
              th(scope="row") #{key + 1}
              td #{c.title}
              td #{c.author}
              td #{c.categoryId.name}
              td 
                each t, key in c.tags
                  | #{t.name},
              td #{c.publicTime.toDateString()}
              td #{c.insertTime.toDateString()}
              td
                a.btn.btn-sm.btn-warning.mr-2(href="http://localhost:3000/admin/news/" + c._id) edit
                a.btn.btn-sm.btn-danger(onclick="deleteNews('"+ c._id + "')") delete
          
      nav(aria-label='Page navigation example')
        ul.pagination.justify-content-end
          - var n = 1;
          while n <= maxPage
            li.page-item
              a.page-link(href='http://localhost:3000/admin/news/data/' + n) #{n++}
                