extend admin_layout 

block content
  .container-fluid.header-css(role='banner')
    .row
      header.col-xl-2.offset-xl-1.col-lg-3.col-md-3.col-sm-12.col-9
        h3 Grobal News
      .col-3.nav-btn
        button#navBtn.btn(type='button')
          // <span class="nav-icon"></span>
          img(alt='button' src="data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
      nav#navList.col-xl-5.col-lg-6.col-md-9.col-sm-12.nav-bar(role='navigation')
        ul.nav
          li.nav-item.active
            a(href='index.html') Home
          li.nav-item
            a(href='news.html') News
          li.nav-item
            a(href='video.html') Videos
          li.nav-item
            a(href='images.html') Images
          li.nav-item
            a(href='graphs.html') Graphs
          li.nav-item
            a(href='aboutUs.html') About Us
      .d-flex.col-xl-3.col-lg-3(role='search')
        a.align-self-center.ml-auto.btn.btn-outline-secondary Sign out
  #admin_main.row
    #admin_nav.col-3
      nav.nav.flex-column
        a.nav-link.text-center(href='index.html') Overview
        a.nav-link.active.text-center(href='http://localhost:3000/admin/news') News Management
        a.nav-link.text-center(href='http://localhost:3000/admin/videos') Videos Management
        a.nav-link.text-center(href='picManagement.html') Pictures Management
        a.nav-link.text-center(href="http://localhost:3000/admin/category") Categories Management
        a.nav-link.text-center(href='tagsManagement.html') Tags Management
        a.nav-link.text-center(href='crawler.html') Crawler Rules
    .col-9
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Admin
          li.breadcrumb-item.active News Management
      hr
      button.btn.btn-primary.mb-2(onclick="window.location.href='http://localhost:3000/admin/news/create'") Create New News Data
      table.table
        thead.thead-dark
          tr
            th(scope='col') #
            th(scope='col') title
            th(scope='col') author
            th(scope='col') category
            th(scope='col') tags
            th(scope='col') publicTime
            th(scope='col') insertTime
            th(scope='col') Operation
        tbody
          each c, key in news
            tr
              th(scope="row") #{key + 1}
              td #{c.title}
              td #{c.author}
              td #{c.categoryId.name}
              td 
                each t, key in c.tags
                  | #{t.name},
              td #{c.publicTime.toDateString()}
              td #{c.insertTime.toDateString()}
              td
                a.btn.btn-sm.btn-warning.mr-2(href="http://localhost:3000/admin/news/" + c._id) edit
                a.btn.btn-sm.btn-danger(onclick="deleteNews('"+ c._id + "')") delete
          
      //- nav(aria-label='Page navigation example')
      //-   ul.pagination.justify-content-end
      //-     li.page-item.disabled
      //-       a.page-link(href='#' tabindex='-1' aria-disabled='true') Previous
      //-     li.page-item
      //-       a.page-link(href='#') 1
      //-     li.page-item
      //-       a.page-link(href='#') 2
      //-     li.page-item
      //-       a.page-link(href='#') 3
      //-     li.page-item
      //-       a.page-link(href='#') Next