extend admin_layout 

block content
  .container-fluid.header-css(role='banner')
    .row
      header.col-xl-2.offset-xl-1.col-lg-3.col-md-3.col-sm-12.col-9
        h3 Grobal News
      .col-3.nav-btn
        button#navBtn.btn(type='button')
          // <span class="nav-icon"></span>
          img(alt='button' src="data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
      nav#navList.col-xl-5.col-lg-6.col-md-9.col-sm-12.nav-bar(role='navigation')
        ul.nav
          li.nav-item.active
            a(href='/') Home
          li.nav-item
            a(href='/news') News
          li.nav-item
            a(href='/videos') Videos
          li.nav-item
            a(href='/pictures') Images
          li.nav-item
            a(href='/aboutus') About Us
      .d-flex.col-xl-3.col-lg-3(role='search')
        a.align-self-center.ml-auto.btn.btn-outline-secondary Sign out
  #admin_main.row
    #admin_nav.col-3
      nav.nav.flex-column
        a.nav-link.text-center(href="http://localhost:3000/admin") Overview
        a.nav-link.active.text-center(href="http://localhost:3000/admin/news") News Management
        a.nav-link.text-center(href="http://localhost:3000/admin/videos") Videos Management
        a.nav-link.text-center(href="http://localhost:3000/admin/pictures") Pictures Management
        a.nav-link.text-center(href="http://localhost:3000/admin/category") Categories Management
        a.nav-link.text-center(href="http://localhost:3000/admin/tag") Tags Management
        a.nav-link.text-center(href="http://localhost:3000/admin/crawler") Crawler Rules
    .col-9
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Admin
          li.breadcrumb-item News Management
          li.breadcrumb-item.active News Create
      hr
      
      .form-group
        label(for='newsTitle') Title:
        input#newsTitle.form-control(type='text', value=aNews.title)
      .form-group
        label(for='newsAuthor') Author:
        input#newsAuthor.form-control(type='text', value=aNews.author)
      .form-group
        label(for='newsLink') picture link:
        input#newsLink.form-control(type='text', , value=aNews.link)
      .form-group
        label(for='newsCategory') Category:
        select#newsCategory.form-control
          if aNews.categoryId == ''
            option(selected='') Choose...
          each c, k in aNews.categories

            if aNews.categoryId == c._id
              option(value=c._id, selected) #{c.name}
            else 
              option(value=c._id) #{c.name}
      .form-group
        label(for='newsTags') Tags:
        select#newsTags.form-control(multiple='')
          if aNews.tags != ''
            each t in aNews.allTags
              - var tresult = false
              each gt in aNews.tags
                if (gt == t._id.toString())
                  - tresult = true
              if tresult
                option.otag(value=t._id, selected) #{t.name}
              else 
                option.otag(value=t._id) #{t.name}
          else
            each t in aNews.allTags
              option.otag(value=t._id) #{t.name}
      .form-group
        label(for='newsPriority') Priority:
        select#newsPriority.form-control(multiple='')
          if aNews.priority != ''
            each ps in aNews.priorities
              - var presult = false
              each p in aNews.priority
                if p == ps.value
                  - presult = true
              if presult
                option.op(value=ps.value, selected) #{ps.name}
              else 
                option.op(value=ps.value) #{ps.name}  
          else
            each ps in aNews.priorities
              if ps.value == 4
                option.op(value=4, selected) #{ps.name}
              else 
                option.op(value=ps.value) #{ps.name}
      .form-group
        label(for='newsActived') Actived:
        select#newsActived.form-control
          if aNews.actived
            case aNews.actived
              when true
                option(value='true', checked) true
                option(value='false') false
              when false
                option(value='true') true
                option(value='false', checked) false
          else      
            option(value='true') true
            option(value='false') false
      .form-group
        label(for='newsIntro') intro
        textarea#newsIntro.form-control(rows='2', value=aNews.intro) #{aNews.intro}
      .form-group
        label(for='newsContent') Content
        textarea#newsContent.form-control(rows='5',value=aNews.content) #{aNews.content}
      button#newsCreateBtn.btn.btn-primary(type='submit',nid=aNews._id) Submit