extend admin_layout 

block content
  .container-fluid.header-css(role='banner')
    .row
      header.col-xl-2.offset-xl-1.col-lg-3.col-md-3.col-sm-12.col-9
        h3 Grobal News
      .col-3.nav-btn
        button#navBtn.btn(type='button')
          // <span class="nav-icon"></span>
          img(alt='button' src="data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
      nav#navList.col-xl-5.col-lg-6.col-md-9.col-sm-12.nav-bar(role='navigation')
        ul.nav
          li.nav-item.active
            a(href='index.html') Home
          li.nav-item
            a(href='news.html') News
          li.nav-item
            a(href='video.html') Videos
          li.nav-item
            a(href='images.html') Images
          li.nav-item
            a(href='graphs.html') Graphs
          li.nav-item
            a(href='aboutUs.html') About Us
      .d-flex.col-xl-3.col-lg-3(role='search')
        a.align-self-center.ml-auto.btn.btn-outline-secondary Sign out
  #admin_main.row
    #admin_nav.col-3
      nav.nav.flex-column
        a.nav-link.text-center(href='index.html') Overview
        a.nav-link.text-center(href='http://localhost:3000/admin/news') News Management
        a.nav-link.text-center(href='http://localhost:3000/admin/videos') Videos Management
        a.nav-link.active.text-center(href='http://localhost:3000/admin/pictures') Pictures Management
        a.nav-link.text-center(href="http://localhost:3000/admin/category") Categories Management
        a.nav-link.text-center(href='tagsManagement.html') Tags Management
        a.nav-link.text-center(href='crawler.html') Crawler Rules
    .col-9
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Admin
          li.breadcrumb-item Pictures Management
          li.breadcrumb-item.active Pictures Create
      hr
      
      .form-group
        label(for='picturesTitle') Title:
        input#picturesTitle.form-control(type='text', value=aPictures.title)
      .form-group
        label(for='picturesAuthor') Author:
        input#picturesAuthor.form-control(type='text', value=aPictures.author)
      .form-group
        label(for='pictiuresPic') Picture:
        input#picturesLink.form-control(type='text', , value=aPictures.picture)
      .form-group
        label(for='pictiuresLink') link:
        input#picturesLink.form-control(type='text', , value=aPictures.link)
      .form-group
        label(for='picturesActived') Actived:
        select#picturesActived.form-control
          if aPictures.actived
            case aPictures.actived
              when 'true'
                option(value='true', checked) true
                option(value='false') false
              when 'false'
                option(value='false', checked) false
                option(value='true') true
                
          else      
            option(value='true') true
            option(value='false') false
      .form-group
        label(for='picturesIntro') intro
        textarea#picturesIntro.form-control(rows='2', value=aPictures.intro) #{aPictures.intro}
      //- .form-group
      //-   label(for='picturesContent') Content
      //-   textarea#picturesContent.form-control(rows='5',value=aPictures.content) #{aPictures.content}
      //- .form-group
      //-   label(for='newsContent') Content
      //-   textarea#newsContent.form-control(rows='5',value=aNews.content) #{aNews.content}
      button#picturesCreateBtn.btn.btn-primary(type='submit',pid= aPictures._id) Submit