extend admin_layout_login

block content
  #admin_main.row
    #admin_nav.col-3
      nav.nav.flex-column
        a.nav-link.text-center(href="/admin") Overview
        a.nav-link.text-center(href="/admin/news/data") News Management
        a.nav-link.text-center(href="/admin/videos/data") Videos Management
        a.nav-link.active.text-center(href="/admin/pictures/data") Pictures Management
        a.nav-link.text-center(href="/admin/category/data") Categories Management
        a.nav-link.text-center(href="/admin/tag/data") Tags Management
        a.nav-link.text-center(href="/admin/spider/data") Crawler Rules
    .col-9
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Admin
          li.breadcrumb-item Pictures Management
          li.breadcrumb-item.active Pictures Create
      hr
      
      .form-group
        label(for='picturesTitle') Title:
        input#picturesTitle.form-control(type='text', value=aPictures.title)
        img(onclick='startDictation(this)',src='https://i.imgur.com/cHidSVu.gif')
      .form-group
        label(for='picturesAuthor') Author:
        input#picturesAuthor.form-control(type='text', value=aPictures.author)
        img(onclick='startDictation(this)',src='https://i.imgur.com/cHidSVu.gif')
      .form-group
        label(for='pictiuresPic') Picture:
        input#picturesLink.form-control(type='text', , value=aPictures.picture)
      .form-group
        label(for='pictiuresLink') link:
        input#picturesLink.form-control(type='text', , value=aPictures.link)
      .form-group
        label(for='picturesActived') Actived:
        select#picturesActived.form-control
          if aPictures.actived
            case aPictures.actived
              when 'true'
                option(value='true', checked) true
                option(value='false') false
              when 'false'
                option(value='false', checked) false
                option(value='true') true
                
          else      
            option(value='true') true
            option(value='false') false
      .form-group
        label(for='picturesIntro') intro
        textarea#picturesIntro.form-control(rows='2', value=aPictures.intro) #{aPictures.intro}
        img(onclick='startDictation(this)',src='https://i.imgur.com/cHidSVu.gif')
      //- .form-group
      //-   label(for='picturesContent') Content
      //-   textarea#picturesContent.form-control(rows='5',value=aPictures.content) #{aPictures.content}
      //- .form-group
      //-   label(for='newsContent') Content
      //-   textarea#newsContent.form-control(rows='5',value=aNews.content) #{aNews.content}
      button#picturesCreateBtn.btn.btn-primary(type='submit',pid= aPictures._id) Submit
      script(src="/javascripts/voice.js")