extend admin_layout 

block content
  .container-fluid.header-css(role="banner")
    .row
      header.col-xl-2.offset-xl-1.col-lg-3.col-md-3.col-sm-12.col-9
        h3 Grobal News
      .col-3.nav-btn
        button#navBtn.btn(type="button")
          // <span class="nav-icon"></span>
          img(alt="button" src="data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
      nav#navList.col-xl-5.col-lg-6.col-md-9.col-sm-12.nav-bar(role="navigation")
        ul.nav
          li.nav-item.active
            a(href="index.html") Home
          li.nav-item
            a(href="news.html") News
          li.nav-item
            a(href="video.html") Videos
          li.nav-item
            a(href="images.html") Images
          li.nav-item
            a(href="graphs.html") Graphs
          li.nav-item
            a(href="aboutUs.html") About Us
      .d-flex.col-xl-3.col-lg-3(role="search")
        a.align-self-center.ml-auto.btn.btn-outline-secondary Sign out
  .row(id="admin_main")
    .col-3(id="admin_nav")
      nav.nav.flex-column
        a.nav-link.text-center(href="/admin") Overview
        a.nav-link.text-center(href="http://localhost:3000/admin/news/data") News Management
        a.nav-link.text-center(href="http://localhost:3000/admin/videos/data") Videos Management
        a.nav-link.text-center(href="http://localhost:3000/admin/pictures/data") Pictures Management
        a.nav-link.text-center(href="http://localhost:3000/admin/category/data") Categories Management
        a.nav-link.text-center(href="http://localhost:3000/admin/tag/data") Tags Management
        a.nav-link.active.text-center(href="http://localhost:3000/admin/spider/data") Crawler Rules
    .col-9
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Admin
          li.breadcrumb-item.active News Management
      hr
      button.btn.btn-primary.mb-2(onclick="window.location.href='http://localhost:3000/admin/spider/create'") Create New Spider
      table.table
        thead.thead-dark
          tr
            th(scope="col") #
            th(scope="col") name
            th(scope="col") target
            th(scope="col") startTime
            th(scope="col") frequency(hours)
            th(scope="col") actived
            th(scope="col") Operation
        tbody
          each c, key in spiders
            tr
              th(scope="row") #{key + 1}
              td #{c.name}
              td 
                a(href=c.start_url) #{c.name}
              td #{c.newStartTime}
              td #{c.frequency}
              td #{c.active}
              td
                a.btn.btn-sm.btn-primary.mr-2(onclick="runSpider('" + c._id + "')") Run Now
                a.btn.btn-sm.btn-warning.mr-2(href="http://localhost:3000/admin/spider/" + c._id) edit
                a.btn.btn-sm.btn-danger(onclick="deleteSpider('"+ c._id + "')") delete
      nav(aria-label='Page navigation example')
        ul.pagination.justify-content-end
          - var n = 1;
          while n <= maxPage
            li.page-item
              a.page-link(href='http://localhost:3000/admin/spider/data/' + n) #{n++}