extend admin_layout_login

block content
  #admin_main.row
    #admin_nav.col-3
      nav.nav.flex-column
        a.nav-link.text-center(href="/admin") Overview
        a.nav-link.text-center(href="/admin/news/data") News Management
        a.nav-link.active.text-center(href="/admin/videos/data") Videos Management
        a.nav-link.text-center(href="/admin/pictures/data") Pictures Management
        a.nav-link.text-center(href="/admin/category/data") Categories Management
        a.nav-link.text-center(href="/admin/tag/data") Tags Management
        a.nav-link.text-center(href="/admin/spider/data") Crawler Rules
        a.nav-link.text-center(href="/admin/feedback/data") Feedback
    .col-9
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Admin
          li.breadcrumb-item Videos Management
          li.breadcrumb-item.active Videos Create
      hr
      
      .form-group
        label(for='videosTitle') Title:
        input#videosTitle.form-control(type='text', value=aVideos.title)
      .form-group
        label(for='videosAuthor') Author:
        input#videosAuthor.form-control(type='text', value=aVideos.author)
      .form-group
        label(for='videosLink') link:
        input#videosLink.form-control(type='text', , value=aVideos.link)
      .form-group
        label(for='pictureLink') picture link:
        input#pictureLink.form-control(type='text', , value=aVideos.picture)
      .form-group
        label(for='videosActived') Actived:
        select#videosActived.form-control
          if aVideos.hasActived
            case aVideos.actived
              when 'true'
                option(value='true', checked) true
                option(value='false') false
              when 'false'
                option(value='false', checked) false
                option(value='true') true
                
          else      
            option(value='true') true
            option(value='false') false
      .form-group
        label(for='videosIntro') intro
        textarea#videosIntro.form-control(rows='2', value=aVideos.intro) #{aVideos.intro}
      button#videosCreateBtn.btn.btn-primary(type='submit',vid= aVideos._id) Submit