extend admin_layout_login

block content
  #admin_main.row
    #admin_nav.col-3
      nav.nav.flex-column
        a.nav-link.text-center(href="/admin") Overview
        a.nav-link.text-center(href="/admin/news/data") News Management
        a.nav-link.active.text-center(href="/admin/videos/data") Videos Management
        a.nav-link.text-center(href="/admin/pictures/data") Pictures Management
        a.nav-link.text-center(href="/admin/category/data") Categories Management
        a.nav-link.text-center(href="/admin/tag/data") Tags Management
        a.nav-link.text-center(href="/admin/spider/data") Crawler Rules
    .col-9
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Admin
          li.breadcrumb-item.active Videos Management
      hr
      button.btn.btn-primary.mb-2(onclick="window.location.href='http://localhost:3000/admin/videos/create'") Create New Video Data
      table.table
        thead.thead-dark
          tr
            th(scope='col') #
            th(scope='col') title
            th(scope='col') author
            th(scope='col') intro 
            th(scope='col') link
            th(scope='col') actived
            th(scope='col') Public Time
            th(scope='col') Insert Time
            th(scope='col') Operation
        tbody
          each c, key in videos
            tr
              th(scope="row") #{key + 1}
              td #{c.title}
              td #{c.author}
              td #{c.intro}
              td #{c.link}
              td #{c.actived}
              td #{c.publicTime.toDateString()}
              td #{c.insertTime.toDateString()}
              td
                a.btn.btn-sm.btn-warning.mr-2(href="http://localhost:3000/admin/videos/" + c._id) edit
                a.btn.btn-sm.btn-danger(onclick="deleteVideos('"+ c._id + "')") delete
      nav(aria-label='Page navigation example')
        ul.pagination.justify-content-end
          - var n = 1;
          while n <= maxPage
            li.page-item
              a.page-link(href='http://localhost:3000/admin/videos/data/' + n) #{n++}  
