extends layout

block content
  .container-fluid.header-css(role='banner')
    .row
      header.col-xl-2.offset-xl-1.col-lg-3.col-md-3.col-sm-12.col-9
        h3 Grobal News
      .col-3.nav-btn
        button#navBtn.btn(type='button')
          // <span class="nav-icon"></span>
          img(alt='button' src="data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
      nav#navList.col-xl-5.col-lg-6.col-md-9.col-sm-12.nav-bar(role='navigation')
        ul.nav
          li.nav-item
            a(href='/') Home
          li.nav-item.active
            a(href='/news/list') News
          li.nav-item
            a(href='/videos/list') Videos
          li.nav-item
            a(href='/pictures/list') Images
          li.nav-item
            a(href='/aboutus') About Us
          li.nav-item
            a(href='/submitDonation') Donate
      .search-bar.col-xl-3.col-lg-3(role='search')
        input(type='text' placeholder='Grobal News')
        a(href='#')
          img(src='../images/search.png' alt='search button')
  article.container-fluid.news-main(role='main')
    .row
      .col-lg-10.offset-lg-1
        h1= article.title
        .news-bottom
            p
            | By #{article.author}
            br
            | #{article.publicTimeString}
      .col-lg-10.offset-lg-1.container-fluid
        .row
          .col-md-8
            figure.figure
                img.figure-img.img-fluid.rounded.detail-img(src=article.picture alt='A generic square placeholder image with rounded corners in a figure.')
                figcaption.figure-caption
                
            p
                | !{article.content}
          .col-md-4
            h1 Trending News 
            hr
            ul.list-inline.list-re
              li
                a.news-list-title(href='https://www.regionofwaterloo.ca/en/health-and-wellness/positive-cases-in-waterloo-region.aspx')
                    h5 COVID-19 Cases in Waterloo,Ontario,Canada.
                .news-bottom
                    span.author
                    | By 
                    a(href='#') Associated Press
                    br
                    span.date Thu, 04/16/2020 - 18:08
              li
                a.news-list-title(href='https://vtdigger.org/coronavirus/')
                    h5 Coronavirus news-COVID-19 in Vermont
                .news-bottom
                    span.author
                    | By 
                    a(href='#') Associated Press
                    br
                    span.date Thu, 04/16/2020 - 18:08
              li
                a.news-list-title(href='https://www.nytimes.com/2020/04/17/world/coronavirus-news-updates.html')
                    h5 W.H.O Failed to Tell Syrian Kurds of Their First Coronavirus Death
                .news-bottom
                    span.author
                    | By 
                    a(href='#') Associated Press
                    br
                    span.date Thu, 04/16/2020 - 18:08
              li
                a.news-list-title(href='detail.html')
                    h5 Scientists Enthralled by Biggest Star Explosion Ever Observed
                .news-bottom
                    span.author
                    | By 
                    a(href='#') Associated Press
                    br
                    span.date Thu, 04/16/2020 - 18:08
              li
                a.news-list-title(href='https://www.theguardian.com/world/2020/apr/18/coronavirus-glance')
                    h5 Coronavirus Latest:at a glance
                .news-bottom
                    span.author
                    | By 
                    a(href='#') Associated Press
                    br
                    span.date Thu, 04/16/2020 - 18:08